* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f2f2f2;
  }
  
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
    cursor: pointer;
	filter: grayscale(100%);
  }

  .logos-slide:hover img {
	filter: grayscale(0%);
}  

  .logos-tittle {
    display: block;
    color: black;
    margin-bottom: 75px;
    text-align: center;
    color: #364859;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    letter-spacing: 0.1px;
}

.logos-container {
  display: flex;
  max-width: 1920px;
  width: 100%;
  justify-content: center;
  margin: auto;
}